.nav-bar-position{
    position: fixed;
    width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons{
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: 25px;
}

.nav-icons:hover{
    background-color: grey;
    transform: scale(0.7);
}

nav ul li{
    position: relative;
}

a {
    text-decoration: none;
    color: #333333;
}

nav ul{
    position: absolute;
    width: 25%;
    right: 0px;
    text-align: center;
    list-style: none;
}

.account:hover{
    background-color: grey;
    transform: scale(0.8);
}

.side-bar-position{
    position: fixed;
}

.side-bar{
    width: 280px;
    min-height: 100vh;
}

.side-bar-cross{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 30px;
}

.side-bar-cross:hover{
    background-color: grey;
    transform: scale(0.7);
}

.white-line{
    display: flex; 
    height: 57px;
    z-index: 900;
}

.book-image{
    height: 250px;
    width: auto;
}

.login-form{
    width: 90%;
    height: 275px;
}

.library_hero_image{
    background: url(https://www.bnc.ox.ac.uk/images/library/Brasenose_College_Library_05.jpg)
    no-repeat
    center
    center;
    width: 100%;
    object-fit: cover;
}

/* Footer */

.social-button{
    width: 45px;
    height: 40px;
}

.facebook-bg{
    background-color: #3b5998;
}

.twitter-bg{
    background-color: #55acee;
}

.instagram-bg{
    background-color: #ac2bac;;
}

.github-bg{
    background-color: #333333;
}


@media screen and (max-width:992px){
    .review-box{
        display: flex!important;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .col-2, .col-4, .col-7{
        flex: inherit;
        width: inherit;
    }
    
    .small-screen-margin{
        margin-top: 20px!important;
    }
}