{% extends "base.html" %}
{% block content %}

<section class="library_hero_image">
    <div class="d-lg-flex justify-content-around review-box">
        <div class="container my-4 border rounded bg-dark bg-opacity-75">
            <h1 class="my-4 text-center text-white">About Us</h1>
            <div
                class="container bg-light d-flex flex-column justify-content-around m-1 p-2 border border-secondary rounded">
            </div>
        </div>
    </div>
</section>

{% endblock %}