{% extends "base.html" %}
{% block content %}

<section class="library_hero_image">
    <div class="d-lg-flex justify-content-around review-box">
        <div class="container my-4 border rounded bg-dark bg-opacity-75">
            <h2 class="my-4 text-center text-white">About Us</h2>
            <div
                class="container bg-light d-flex flex-column justify-content-around m-1 p-2 border border-secondary rounded">
                <h5>What is Valley Book Reviews?</h5>
                <p>Valley Books Review is a site that has been designed around bringing people together who love
                    reading, by writing reviews this allows you to tell your story on how you found the book which will
                    give others insight into if they maybe interesting in reading it.</p>
                <p>By writing your review this will allow others to either like or dislike it based on mulitple factors,
                    do they agree with your reivew or do they dislike the book as a whole. Users of the site will be
                    able to see which books or reviews are popular from a glance thanks to our voting system, we allow
                    users to either like or dislike each review with the ability to change this later down the line
                    should they wish.</p>
                <p>To be able to take full advantage of our site, please register for an account this can be done at any
                    time by clicking the icon on the top right of the site and click on the register option. Once you
                    have registered and logged in you will be able to start making your own reviews or voting on your
                    favourite reviews from other creators. </p>
                <p>Our aim to connect people all over the world who share the passsion of reading. </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}