{% extends "base.html" %}
{% block content %}

<!-- My Review input elements -->
<section class="d-flex justify-content-around">
    <div class="container d-flex justify-content-center justify-content-around m-1 p-2 border border-secondary rounded">
        <form method="POST" action="" id="myReviewForm">
            <div class="row">
                <div class="d-flex flex-column col-sm m-0">
                    <div class="d-flex flex-column justify-content-around">
                        <label for="bookName">Book Name</label>
                        <input id="bookName" type="text" name="bookName" placeholder="Book Name" required>
                    </div>
                    <div class="d-flex flex-column justify-content-around>
                    <label for=" authorName">Author Name</label>
                        <input id="authorName" type="text" name="authorName" placeholder="Author Name" required>
                    </div>
                    <div class="d-flex flex-column justify-content-around>
                    <label for=" imageLink">Cover Image Hyperlink</label>
                        <input id="imageLink" type="hyperlink" name="imageLink" placeholder="Book Cover Image" required>
                    </div>
                </div>
                <div class="d-flex col-sm align-items-center m-1 p-2.5">
                    <div>
                        <textarea rows="5" cols="38" id="reviewText" name="reviewText" form="myReviewForm"
                            placeholder="Please Enter Review here..." required></textarea>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-center align-items-center">
                    <button class="loginButton" type="submit" name="action">Submit Review</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% for reviews in submited_user_reviews %}

<section class="d-flex justify-content-around">
    {% if loop.index % 2 != 0 %}

    <div class="container d-flex flex-column justify-content-around m-1 p-2 border border-secondary rounded">
        <div class="row d-flex text-center">
            <h4>{{ reviews.book_name }} - <em>{{ reviews.author_name }}</em></h4>
        </div>
        <div class="d-flex justify-content-around">
            <div class="col-2">
                <img class="book-image" src="{{ reviews.image_link }}" alt="{{ reviews.book_name }}">
            </div>
            <div class="col-7 text-center">
                <p>{{ reviews.review_text }}</p>
            </div>
            <div class="col-2">
                <div class="row d-flex justify-content-between text-center">
                    <div class="col-4 align-items-center">
                        <span>0</span>
                        <i class="fa-solid fa-thumbs-up fa-2x"></i>
                    </div>
                    <div class="col-4">
                        <span>0</span>
                        <i class="fa-solid fa-thumbs-down fa-2x"></i>
                    </div>
                </div>
                <div class="row mx-2 my-4">
                    <button class="btn btn-success">Edit Review</button>
                </div>
                <div class="row mx-2 my-4">
                    <button class="btn btn-danger">Delete Review</button>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="container d-flex flex-column justify-content-around m-1 p-2 border border-secondary rounded">
        <div class="row d-flex text-center">
            <h4>{{ reviews.book_name }} - <em>{{ reviews.author_name }}</em></h4>
        </div>
        <div class="d-flex justify-content-around">
            <div class="col-2">
                <div class="row d-flex justify-content-between text-center">
                    <div class="col-4 align-items-center">
                        <span>0</span>
                        <i class="fa-solid fa-thumbs-up fa-2x"></i>
                    </div>
                    <div class="col-4">
                        <span>0</span>
                        <i class="fa-solid fa-thumbs-down fa-2x"></i>
                    </div>
                </div>
                <div class="row mx-2 my-4">
                    <button class="btn btn-success">Edit Review</button>
                </div>
                <div class="row mx-2 my-4">
                    <button class="btn btn-danger">Delete Review</button>
                </div>
            </div>
            <div class="col-7 text-center">
                <p>{{ reviews.review_text }}</p>
            </div>
            <div class="col-2">
                <img class="book-image" src="{{ reviews.image_link }}" alt="{{ reviews.book_name }}">
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endfor %}

{% endblock %}