{% extends "base.html" %}
{% block content %}

<section class="library_hero_image d-flex">
    <div class="container my-4 border rounded bg-light">
        <h1 class="d-flex justify-content-around my-4 text-center">Enter the details below to register</h1>
        <form method="POST" action=""
            class="register-form container my-4 bg-secondary bg-opacity-50 border border-secondary rounded">
            <div class="d-flex justify-content-around mt-4 row">
                <label for="userID" class="fw-semibold col-2">Username:</label>
                <input id="userID" class="col-2" type="text" name="userID" required>
            </div>
            <div class="d-flex justify-content-around mt-4 row">
                <label for="firstName" class="fw-semibold col-2">First Name:</label>
                <input id="firstName" class="col-2" type="text" name="firstName" required>
            </div>
            <div class="d-flex justify-content-around mt-4 row">
                <label for="lastName" class="fw-semibold col-2">Last Name:</label>
                <input id="lastName" class="col-2" type="text" name="lastName" required>
            </div>
            <div class="d-flex justify-content-around mt-4 row">
                <label for="emailAddress" class="fw-semibold col-2">Email:</label>
                <input id="emailAddress" class="col-2" type="email" name="emailAddress" required>
            </div>
            <div class="d-flex justify-content-around mt-4 row">
                <label for="userPassword" class="fw-semibold col-2">Password:</label>
                <input id="userPassword" class="col-2" type="password" name="userPassword" required>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="loginButton btn btn-success" type="submit" name="action">Register</button>
            </div>
            <div class="p-1 m-2">
                <a href="{{ url_for('user_accounts.login') }}"
                    class="d-flex fw-md-semibold text-center flex-wrap justify-content-center align-items-center">Already
                    registed, click here to login.</a>
            </div>
        </form>
    </div>
</section>

{% endblock %}